// Colors
$color-primary: #01aaeb;
$color-secondary: #48e5ff;
$color-accent: #00dfa8;
$color-accent-light: #45ffd1;
$color-accent-2: #ea8024;
$color-gray: #757575;
$color-gray-light: #f7f7f9;
$color-yellow: #FAB21E;

// Fonts
$font-helvetica: 'Helvetica', sans-serif;
$font-mreaves: 'Mr Eaves', sans-serif;
$font-visby: 'Visby CF', sans-serif;
