.page .remote-learning {
	position: relative;

	@include media('>phone') {
		margin: rem-calc(50) 0;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;
			height: 100%;
			background: linear-gradient(to right, $color-primary, $color-secondary);
			border-radius: 10px 0 0 10px;
		}
	}

	&__wrapper {
		@extend %container;

		position: relative;
		display: flex;
		flex-flow: column;

		@include media('>phone') {
			flex-flow: row;
			padding: rem-calc(10) 0;
		}

		@include media('>tablet') {
			padding: rem-calc(50) 0;
		}

		> * {
			min-width: 0;
			min-height: 0;
		}
	}

	&__title {
		position: absolute;
		top: rem-calc(20);
		left: calc(100% - 20px);
		transform: rotate(90deg);
		transform-origin: 0 0;
		font-family: $font-mreaves;
		font-size: 10px;
		text-transform: uppercase;
		white-space: nowrap;

		@include media('>phone') {
			top: rem-calc(70);
			left: calc(100% - 24px);
		}

		@include media('>tablet') {
			top: rem-calc(80);
			left: calc(100% - 50px);
			font-size: rem-calc(12);
		}

		@include media('>desktop-small') {
			left: calc(100% - 30px);
			font-size: rem-calc(14);
		}

		@include media('>desktop-medium') {
			font-size: rem-calc(16);
		}

		@include media('>desktop-large') {
			left: calc(100% - 80px);
		}
	}

	&__col {
		&--one,
		&--two {
			@include media('>phone') {
				flex-shrink: 0;
				width: 50%;
			}
		}

		&--one {
			position: relative;
			padding: rem-calc(60) 0;
			order: 2;

			@include media('>phone') {
				order: 1;
				padding: rem-calc(10) 0;
				padding-top: rem-calc(60);
			}

			@include media('>tablet') {
				padding: rem-calc(70) 0;
			}

			.remote-learning__col-wrapper {
				@include media('>phone') {
					padding: 0 rem-calc(24);
				}

				@include media('>tablet') {
					padding: 0 rem-calc(50);
				}

				@include media('>desktop-small') {
					padding: 0 rem-calc(80);
				}

				@include media('>desktop-large') {
					padding: 0 rem-calc(180);
				}
			}
		}

		&--two {
			order: 1;
			padding: rem-calc(26) 0 rem-calc(12);
			background: linear-gradient(to right, $color-primary, $color-secondary);

			@include media('>phone') {
				order: 2;
				background: none;
				border-radius: 6px 0 0 6px;
			}

			.remote-learning__col-wrapper {
				padding: 0 rem-calc(24);

				@include media('>phone') {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;

					> * {
						min-width: 0;
						min-height: 0;
					}
				}

				@include media('>desktop-small') {
					padding: rem-calc(40) rem-calc(24);
				}

				@include media('>desktop-medium') {
					padding: rem-calc(40) rem-calc(100);
				}
			}
		}
	}

	&__decoration {
		position: absolute;
		top: rem-calc(20);
		left: 0;
		z-index: -1;
		width: 90%;
		max-width: rem-calc(400);

		@include media('>phone') {
			max-width: none;
		}

		@include media('>tablet') {
			top: 0;
		}

		&-image {
			display: block;
			width: 100%;
		}
	}

	&__heading {
		margin-bottom: rem-calc(14);
		padding: 0 rem-calc(20);

		@include media('>phone') {
			margin-bottom: rem-calc(24);
			padding: 0;
		}

		@include media('>tablet') {
			margin-bottom: rem-calc(40);
		}
	}

	&__headline {
		@extend %section-heading__title;

		@include media('<=tablet') {
			br {
				display: none;
			}
		}

		@include media('>tablet') {
			line-height: 1;
		}
	}

	&__slider-one {
		width: 150vw;

		@include media('>phone') {
			width: 100%;
		}

		@include media('>tablet') {
			margin-bottom: rem-calc(40);
		}
	}

	.slider-one {
		&__items {
			@include media('>desktop-small') {
				display: flex;
				align-items: center;
			}
		}

		&__item {
			position: relative;
			padding-right: rem-calc(20);

			@include media('>phone') {
				padding-right: 0;
			}

			&:not(:last-child) {
				@include media('>phone') {
					margin-bottom: rem-calc(20);
				}

				@include media('>desktop-small') {
					margin-right: rem-calc(12);
					margin-bottom: 0;
				}

				@include media('>desktop-medium') {
					margin-right: rem-calc(20);
				}
			}
		}

		.item {
			&__button {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
				pointer-events: none;

				@include media('>phone') {
					pointer-events: all;
				}
			}

			&__wrapper {
				display: flex;
				align-items: center;
				background: white;
				border: 1px solid fade-out(black, 0.9);
				border-radius: 4px;

				@include media('>tablet') {
					padding-right: rem-calc(20);
				}
			}

			&__avatar {
				position: relative;
				flex-shrink: 0;
				width: rem-calc(68);
				height: rem-calc(68);
				margin-right: 8px;

				@include media('>desktop-small') {
					width: rem-calc(50);
					height: rem-calc(50);
				}

				@include media('>desktop-medium') {
					width: rem-calc(68);
					height: rem-calc(68);
				}

				&-image {
					position: absolute;
					bottom: -5px;
					left: 0;
					display: block;
					width: 100%;
				}
			}

			&__title {
				position: relative;
				top: 2px;
				font-family: $font-mreaves;
				font-size: rem-calc(22);

				@include media('>desktop-small') {
					font-size: rem-calc(18);
				}

				@include media('>desktop-medium') {
					font-size: rem-calc(20);
				}
			}
		}

		&__controls {
			display: flex;
			align-items: center;
			margin-top: 8px;
			padding: 0 rem-calc(20);

			@include media('>phone') {
				display: none;
			}
		}

		&__arrow {
			display: flex;
			align-items: center;
			justify-content: center;
			height: rem-calc(30);

			svg {
				display: block;
				width: rem-calc(18);
				fill: $color-primary;
			}
		}

		&__indicator {
			position: relative;
			top: 1px;
			display: flex;
			align-items: center;
			margin: 0 rem-calc(20);
			font-family: $font-mreaves;
			font-size: rem-calc(12);
			font-variant-numeric: tabular-nums;
			font-weight: bold;
		}
	}

	&__slider-two {
		margin-top: rem-calc(30);
	}

	.slider-two {
		.item {
			padding: 0 rem-calc(20);

			@include media('>phone') {
				padding: 0;
			}

			&__description {
				@include media('>desktop-medium') {
					padding-right: rem-calc(50);
				}

				p {
					@extend %section-body__copy;

					font-size: rem-calc(12);
					line-height: 1.8;

					@include media('>tablet') {
						font-size: rem-calc(14);
						color: #000;
					}

					@include media('>desktop-small') {
						font-size: rem-calc(16);
					}

					@include media('>desktop-medium') {
						font-size: rem-calc(18);
					}

					@include media('>desktop-large') {
						font-size: rem-calc(20);
					}
				}
			}

			&__cta {
				margin-top: 8px;

				@include media('>phone') {
					margin-top: rem-calc(12);
				}

				@include media('>tablet') {
					margin-top: rem-calc(14);
				}

				@include media('>desktop-small') {
					margin-top: rem-calc(16);
				}

				@include media('>desktop-medium') {
					margin-top: rem-calc(18);
				}

				@include media('>desktop-large') {
					margin-top: rem-calc(20);
				}
			}
		}
	}

	&__slider-three {
		width: 100%;
	}
}
