// Placeholders
%image__caption {
	font-family: $font-mreaves;
	font-size: rem-calc(12);
	color: $color-gray;
	text-align: center;

	@include media('>=tablet') {
		font-size: rem-calc(13);
	}

	@include media('>=desktop-small') {
		font-size: rem-calc(14);
	}

	@include media('>=desktop-medium') {
		font-size: rem-calc(16);
	}
}

.elementor-column-wrap {
	padding-left: rem-calc(12);
	padding-right: rem-calc(12);
}

.elementor-page {
	.elementor {
		position: relative;
		padding-bottom: rem-calc(62);

		@include media('>phone') {
			padding-bottom: rem-calc(74);
		}

		@include media('>desktop-small') {
			padding-bottom: rem-calc(90);
		}

	}
}

.elementor {
	.elementor-inner {
		overflow: hidden;
	}

	.elementor-element {
		.elementor-widget-container {
			color: #000;
			font-family: $font-helvetica;
			font-weight: 300;
			line-height: 1.9;

			@include media('>desktop-medium') {
				line-height: 1.8;
			}

			p,
			li {
				@extend %section-body__copy;
			}

			p {
				margin-bottom: rem-calc(20);
			}

			ul,
			ol {
				padding-left: rem-calc(15);
				margin-bottom: rem-calc(20);

				@include media('>=desktop-small') {
					padding-left: rem-calc(25);
				}
			}

			ol {
				list-style-type: decimal;
			}

			ul {
				list-style-type: disc;
			}

			li {
				margin-bottom: rem-calc(5);
			}

			hr {
				margin-top: rem-calc(25);
				margin-bottom: rem-calc(25)
			}

			strong,
			b {
				font-weight: bold;
			}

			em {
				font-style: italic;
			}

			u,
			i {
				text-decoration: underline;
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			.elementor-widget-heading .elementor-heading-title {
				@extend %section-heading__title;
				@extend %section-heading__title--dark;

				font-weight: 600;
				margin-top: rem-calc(20);
				margin-bottom: rem-calc(15);

				@include media('>=desktop-small') {
					margin-bottom: rem-calc(25);
				}
			}

			h1,
			.elementor-heading-title.elementor-size-xxl{
				font-size: rem-calc(34);

				@include media('>=phone') {
					font-size: rem-calc(40);
				}

				@include media('>=desktop-small') {
					font-size: rem-calc(48);
				}

				@include media('>=desktop-medium') {
					font-size: rem-calc(52);
				}

				@include media('>=desktop-large') {
					font-size: rem-calc(60);
				}
			}

			h2,
			.elementor-heading-title.elementor-size-xl {
				font-size: rem-calc(34);

				@include media('>=phone') {
					font-size: rem-calc(38);
				}

				@include media('>=desktop-small') {
					font-size: rem-calc(44);
				}

				@include media('>=desktop-medium') {
					font-size: rem-calc(48);
				}

				@include media('>=desktop-large') {
					font-size: rem-calc(52);
				}
			}

			h3,
			.elementor-heading-title.elementor-size-large {
				font-size: rem-calc(28);

				@include media('>=phone') {
					font-size: rem-calc(32);
				}

				@include media('>=desktop-small') {
					font-size: rem-calc(36);
				}

				@include media('>=desktop-medium') {
					font-size: rem-calc(40);
				}

				@include media('>=desktop-large') {
					font-size: rem-calc(48);
				}
			}

			h4,
			.elementor-heading-title.elementor-size-medium {
				font-size: rem-calc(24);

				@include media('>=phone') {
					font-size: rem-calc(28);
				}

				@include media('>=desktop-small') {
					font-size: rem-calc(32);
				}

				@include media('>=desktop-medium') {
					font-size: rem-calc(38);
				}

				@include media('>=desktop-large') {
					font-size: rem-calc(44);
				}
			}

			h5,
			.elementor-heading-title.elementor-size-small {
				font-size: rem-calc(20);

				@include media('>=phone') {
					font-size: rem-calc(24);
				}

				@include media('>=desktop-small') {
					font-size: rem-calc(28);
				}

				@include media('>=desktop-medium') {
					font-size: rem-calc(32);
				}

				@include media('>=desktop-large') {
					font-size: rem-calc(40);
				}
			}

			h6 {
				font-size: rem-calc(18);

				@include media('>=phone') {
					font-size: rem-calc(22);
				}

				@include media('>=desktop-small') {
					font-size: rem-calc(24);
				}

				@include media('>=desktop-medium') {
					font-size: rem-calc(28);
				}

				@include media('>=desktop-large') {
					font-size: rem-calc(32);
				}
			}

			img {
				max-width: 100%;

				&.alignleft,
				&.alignright {
					max-width: 48%;
					height: auto;
					padding-bottom: 1rem;
					margin: 0;
				}

				&.alignleft {
					float: left;
					padding-right: 1rem;
				}

				&.alignright {
					float: right;
					padding-left: 1rem;
				}

				&.aligncenter {
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

		.elementor-widget-text-editor {
			color: #000;
		}
	}
}
