{% extends "base.twig" %}

{% set template = 'default' %}

{% block content %}

	<div class="page">
		<div class="default">
			<article id="post-{{post.ID}}" class="post-type__{{post.post_type}}">
				<section class="default__article">
					<div class="default__body">
						{{post.content}}
					</div>
				</section>
			</article>
		</div>
		{% if (post.get_field('field_override_hide_contact_bar') != 'yes')  %}
			{% include 'shared/contact-bar.twig' %}
		{% endif %}
	</div>

{% endblock %}
