@font-face {
	font-family: 'Helvetica';
	src: url('../../src/assets/fonts/helvetica/Helvetica-light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../../src/assets/fonts/helvetica/Helvetica.woff2') format('woff2'),
		url('../../src/assets/fonts/helvetica/Helvetica.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../../src/assets/fonts/helvetica/Helvetica-Bold.woff2') format('woff2'),
		url('../../src/assets/fonts/helvetica/Helvetica-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mr Eaves';
	src: url('../../src/assets/fonts/mr-eaves/MrEavesXLModOT-Reg.woff2') format('woff2'),
		url('../../src/assets/fonts/mr-eaves/MrEavesXLModOT-Reg.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mr Eaves';
	src: url('../../src/assets/fonts/mr-eaves/MrEavesXLModOT-Bold.woff2') format('woff2'),
		url('../../src/assets/fonts/mr-eaves/MrEavesXLModOT-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Visby CF';
	src: url('../../src/assets/fonts/visby-cf/VisbyCF-Regular.woff2') format('woff2'),
		url('../../src/assets/fonts/visby-cf/VisbyCF-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Visby CF';
	src: url('../../src/assets/fonts/visby-cf/VisbyCF-Bold.woff2') format('woff2'),
		url('../../src/assets/fonts/visby-cf/VisbyCF-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Visby CF';
	src: url('../../src/assets/fonts/visby-cf/VisbyCF-ExtraBold.woff2') format('woff2'),
		url('../../src/assets/fonts/visby-cf/VisbyCF-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
